footer
	.container-fluid.links_footer_area.pd-t-b
		.row
			.col-md-3.accesories
				h3 ACCSESORIES
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti blanditiis nesciunt, voluptates hic iure harum nisi at ullam delectus excepturi, iste obcaecati saepe consequatur perferendis necessitatibus earum neque maiores, nihil.
				.social
					a
						i.fa.fa-facebook
					a
						i.fa.fa-twitter
					a
						i.fa.fa-rss
					a
						i.fa.fa-skype
					a
						i.fa.fa-dribbble
			.col-md-6
				.row
					.col-md-4.myaccount
						h3 MY ACCOUNT
						ul
							li: a(href="#myaccount") My account
							li: a(href="#orderhistory") Order History
							li: a(href="#wishlist") Wish List
							li: a(href="#newsletter") Newsletter
					.col-md-4.information
						h3 INFORMATION
						ul
							li: a(href="#aboutus") About Us
							li: a(href="#delivery") Delivery Information
							li: a(href="#Privacy") Privacy Policy
							li: a(href="#terms") Terms & Conditions
					.col-md-4.extras
						h3 EXTRAS
						ul
							li: a(href="#brands") Brands
							li: a(href="#gift") Gift Vouchers
							li: a(href="#afiliates") Afiliates
							li: a(href="#specials") Specials
			.col-md-3.AboutUs
				h3 ABOUT US
				.adress
					i.fa.fa-map-marker.pull-left.clearfix
					p 8901 Mamora Road, Glasgow d0489
					p GR. New York
				.phone
					i.fa.fa-phone.pull-left.clearfix
					p (0123)456789
					p (0987)654321
				.mail
					i.fa.fa-envelope.pull-left.clearfix
					p admin@bootexperts.com
	.container-fluid.info_footer_area.pd-t-b
		.row
			.col-md-4
				p Copyright 2015 All rights reserved.
					span BootExperts
			.col-md-offset-4.col-md-4.text-right
				img(src="assets/images/payment.png")