section#Heroimage
section#Offers.pd-t-b
	.container
		.row.text-center
			.col-md-5
				a(href="#")
					img(src="assets/images/banner1.jpg")
			.col-md-7
				a(href="#")
					img(src="assets/images/banner2.jpg")
section#Latest.pd-t-b
	.container.text-center
		.row
			.col-md-3
				.article
					.product-img
						+productimg('img1')
					+productinfo
			.col-md-3
				.article
					.product-img
						+productimg('img2')
					+productinfo
			.col-md-3
				.article
					.product-img
						+productimg('img3')
					+productinfo
			.col-md-3
				.article
					.product-img
						+productimg('img4')
					+productinfo
section#Clients
	.container
		.row
			.col-md-2
				a(href="#")
					img(src="assets/images/client1.jpg")
			.col-md-2
				a(href="#")
					img(src="assets/images/client2.jpg")
			.col-md-2
				a(href="#")
					img(src="assets/images/client3.jpg")
			.col-md-2
				a(href="#")
					img(src="assets/images/client4.jpg")
			.col-md-2
				a(href="#")
					img(src="assets/images/client5.jpg")
			.col-md-2
				a(href="#")
					img(src="assets/images/client6.jpg")
section#Clothing.pd-t-b
	.container
		.row.pd-t-b
			.col-md-4
				.row
					.col-md-6
						.item
							+clothing('item1')
					.col-md-6
						.item-description
							.product-name
								p Deliver wide
							.product-price
							.product-rate
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star-o
								i.fa.fa-star-o
							button.btn
								i.fa.fa-shopping-cart Add to Cart
			.col-md-4
				.row
					.col-md-6
						.item
							+clothing('item2')
					.col-md-6
						.item-description
							.product-name
								p Deliver wide
							.product-price
							.product-rate
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star-o
								i.fa.fa-star-o
							button.btn
								i.fa.fa-shopping-cart Add to Cart
			.col-md-4
				.row
					.col-md-6
						.item
							+clothing('item3')
					.col-md-6
						.item-description
							.product-name
								p Deliver wide
							.product-price
							.product-rate
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star-o
								i.fa.fa-star-o
							button.btn
								i.fa.fa-shopping-cart Add to Cart
		.row.pd-t-b
			.col-md-4
				.row
					.col-md-6
						.item
							+clothing('item4')
					.col-md-6
						.item-description
							.product-name
								p Deliver wide
							.product-price
							.product-rate
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star-o
								i.fa.fa-star-o
							button.btn
								i.fa.fa-shopping-cart Add to Cart
			.col-md-4
				.row
					.col-md-6
						.item
							+clothing('item5')
					.col-md-6
						.item-description
							.product-name
								p Deliver wide
							.product-price
							.product-rate
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star-o
								i.fa.fa-star-o
							button.btn
								i.fa.fa-shopping-cart Add to Cart
			.col-md-4
				.row
					.col-md-6
						.item
							+clothing('item6')
					.col-md-6
						.item-description
							.product-name
								p Deliver wide
							.product-price
							.product-rate
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star
								i.fa.fa-star-o
								i.fa.fa-star-o
							button.btn
								i.fa.fa-shopping-cart Add to Cart
section#Blog
	.container
		.row
			.col-md-3
				+blogpost('post1')
				h3 THE SAMPLE HEADING TITLE
				span 27/11/2015
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sequi...
				a Read more...
			.col-md-3
				+blogpost('post2')
				h3 THE SAMPLE HEADING TITLE
				span 27/11/2015
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sequi...
				a Read more...
			.col-md-3
				+blogpost('post1')
				h3 THE SAMPLE HEADING TITLE
				span 27/11/2015
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sequi...
				a Read more...
			.col-md-3
				+blogpost('post3')
				h3 THE SAMPLE HEADING TITLE
				span 27/11/2015
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sequi...
				a Read more...
		.row.pd-t-b
			.col-md-4
				.service
					i.fa.fa-phone-square.fa-3x.pull-left.clearfix
					h4 ORDER ONLINE NOW
					p Call US:(0123) 456789
			.col-md-4
				.service
					i.fa.fa-plane.fa-3x.pull-left.clearfix
					h4 ORDER ONLINE NOW
					p Call US:(0123) 456789
			.col-md-4
				.service
					i.fa.fa-money.fa-3x.pull-left.clearfix
					h4 ORDER ONLINE NOW
					p Call US:(0123) 456789
